################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RhetosCLI/v15/Server/sqlite3
/RhetosCLI/bin/Debug
/RhetosCLI/obj/Debug
*.suo
/packages
