<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true" internalLogLevel="Error" internalLogFile="D:\temp\nlog-internal.log">
    <variable name="DefaultLayout" value="${longdate} ${level} ${message} ${exception:format=ToString}"/>
    <targets>
      <target name="Console" xsi:type="ColoredConsole" layout="${var:DefaultLayout}"/>
      <target name="File" xsi:type="File" fileName="RhetosCli.log" archiveAboveSize="5242880" maxArchiveFiles="2" layout="${var:DefaultLayout}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="File"/>
      <logger name="*" minlevel="Info" writeTo="Console"/>
    </rules>
  </nlog>
</configuration>




